*,
*::after,
*::before {
  box-sizing: border-box;
  /* test */
}

* {
  --cgap: clamp(1.5rem, 3vw, 4rem);

  border: none;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: none; /* for iOS Safari */
  text-size-adjust: none; /* for other mobile browsers */
}

body {
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: var(--cgap);
}

header,
main,
footer {
  /* padding: 0 var(--cgap); */
  width: 100%;

  max-width: 1280px;
  margin: 0 auto;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: var(--cgap);
}

h1 {
  font-size: clamp(2.8rem, 3vw + 1rem, 3.8rem);
}

h2 {
  font-size: clamp(2.4rem, 3vw + 1rem, 3.4rem);
}

h3 {
  font-size: clamp(2rem, 3vw + 1rem, 3rem);
}

h4,
h5,
h6 {
  font-size: clamp(1.8rem, 3vw + 1rem, 2.8rem);
}

img {
  display: block;
  max-width: 100%;
}

ol,
ul {
  padding-left: 0;
}

ol:not(article ol),
ul:not(article ul) {
  list-style: none;
}

article ol,
article ul {
  list-style-position: inside;
}

:focus:not(:focus-visible) {
  outline: none;
}
