* {
  --header-height: 3rem;
}

header {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  gap: 2rem;
  top: 0;
  border: 1px dotted white;
}

nav ul {
  border: 1px solid white;
  border-radius: 3rem;
  margin: 0 auto;
}

#hamburger {
  background-image: "/svg-icons/hamburger.svg";
  height: 3.2rem;
  width: 3.2rem;
  margin: 0 auto;
}
